.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    /*border: solid #1e1e1e;
    border-radius: 2%;*/
}
article {
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    border: 5px solid #1e1e1e;
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
}
h2 {
    font-size: 32px;
}
p {
    text-align: center;
    font-size: 24px;
}
p.review_text {
    text-align: justify;
}
.review_img {
    border-radius: 2%;
    max-width: 80%;
    margin-top: 64px;
    height: auto;
}